@using SGS.MultiTenancy.Core.Domain.Common

<div class="modal fade" id="editTenantModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            @await Html.PartialAsync(
                        "~/Views/Shared/Modals/_ModalHeader.cshtml",
                        new ModalHeaderViewModel("Edit Tenant")
                        )

            <div class="modal-body" id="editTenantBody"></div>

        </div>
    </div>
</div>
