@using SGS.MultiTenancy.Core.Domain.Common
@using SGS.MultiTenancy.Core.Application.DTOs.Tenants
@using SGS.MultiTenancy.Core.Domain.Enums
@model TenantDto

@{
    Layout = null;
}

<div class="modal fade" id="editTenantModal-@Model.ID" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            @await Html.PartialAsync(
                        "~/Views/Shared/Modals/_ModalHeader.cshtml",
                        new ModalHeaderViewModel("Edit Tenant")
                        )

            <div class="modal-body" id="editTenantBody">

                <form asp-action="UpdateTenant" method="post">
                    <input type="hidden" asp-for="ID" />

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name"
                                   class="form-control"
                                   id="EditTenantName-@Model.ID" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Slug" class="form-label">Subdomain</label>
                            <input asp-for="Slug"
                                   class="form-control"
                                   id="EditSlug-@Model.ID" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Domain" class="form-label"></label>
                            <input asp-for="Domain" class="form-control" />
                            <span asp-validation-for="Domain" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label asp-for="LogoUrl" class="form-label">Logo URL</label>
                            <input asp-for="LogoUrl" class="form-control" />
                            <span asp-validation-for="LogoUrl" class="text-danger"></span>
                        </div>
                    </div>

                    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml",true)
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("EditTenantName-@Model.ID")
        ?.addEventListener("input", function () {

            let text = this.value.toLowerCase()
                .replace(/[^a-z0-9\s-]/g, "")
                .replace(/\s+/g, "-")
                .replace(/-+/g, "-");

            document.getElementById("EditSlug-@Model.ID").value = text;
        });
</script>
