@model SGS.MultiTenancy.Core.Application.DTOs.Auth.UserDto

<div class="modal fade"
     id="deleteUserModal_@Model.ID"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form asp-action="DeleteUser" method="post">
              
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="ID" />

                <div class="modal-header">
                    <h5 class="modal-title text-danger">Confirm Delete</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>
                        Are you sure you want to delete
                        <strong>@Model.UserName</strong>?
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <button type="submit"
                            class="btn btn-danger">
                        Delete
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>