@model SGS.MultiTenancy.Core.Application.DTOs.Auth.UserDto

<div class="modal fade"
     id="editUserModal_@Model.ID"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateUser" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="ID" />

                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="AvtarUrl" class="form-label"></label>
                        <input asp-for="AvtarUrl" class="form-control" />
                        <span asp-validation-for="AvtarUrl" class="text-danger"></span>
                    </div>
                    <div class="mb-3 visually-hidden">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>