@using SGS.MultiTenancy.Core.Domain.Common

@model ModalHeaderViewModel
<div class="modal-header text-white" style="background-color:#00305f;">
    <h4 class="modal-title mb-0">
        @if (!string.IsNullOrEmpty(Model.IconClass))
        {
            <i class="@Model.IconClass me-1"></i>
        }
        @Html.Raw(Model.Title)
    </h4>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
</div>
