@using SGS.MultiTenancy.Core.Domain.Common

@model ModalHeaderViewModel
<div class="modal-header text-white" style="background-color:#00305f;">
    <h5 class="modal-title">@Html.Raw(Model.Title)</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
</div>
