@model SGS.MultiTenancy.UI.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5">

            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">

                    <h1 class="h3 mb-4 text-center">Change password</h1>

                    <form asp-action="ChangePassword" method="post">
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly"
                             class="alert alert-danger small mb-4"></div>

                        <div class="form-group mb-4">
                            <label asp-for="CurrentPassword" class="form-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg class="icon icon-xs text-gray-600"
                                         fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <input asp-for="CurrentPassword"
                                       type="password"
                                       class="form-control"
                                       placeholder="Current password" />
                            </div>
                            <span asp-validation-for="CurrentPassword"
                                  class="text-danger small"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="NewPassword" class="form-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg class="icon icon-xs text-gray-600"
                                         fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <input asp-for="NewPassword"
                                       type="password"
                                       class="form-control"
                                       placeholder="New password" />
                            </div>
                            <span asp-validation-for="NewPassword"
                                  class="text-danger small"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="ConfirmNewPassword" class="form-label"></label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg class="icon icon-xs text-gray-600"
                                         fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <input asp-for="ConfirmNewPassword"
                                       type="password"
                                       class="form-control"
                                       placeholder="Confirm new password" />
                            </div>
                            <span asp-validation-for="ConfirmNewPassword"
                                  class="text-danger small"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-outline-primary">
                                Reset password
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
