<nav class="nav flex-column">

    <a class="nav-link text-white mb-2"
       asp-controller="Tenant"
       asp-action="Index">
        <i class="bi bi-building me-2"></i> Tenants
    </a>

    <a class="nav-link text-white"
       asp-controller="User"
       asp-action="Index">
        <i class="bi bi-people me-2"></i> Users
    </a>

</nav>
